body,*{
    margin:0;
    padding:0;
    font-family: Tahoma;
}
header{
    animation: animate 1s linear  forwards;
    width: 100%;
    height: 100px;
}


.logo{
    display: inline-block;
    float: left;
    margin-left: 70px;
}
.logo img{
    margin-top: 5px;
    width: 73px;
height: 95px;
}
.links{
    float: left;
    margin-left: 350px;
    margin-top: 40px;
    display: inline;

}
.login{
    float: right;
    margin: 40px;
    margin-right: 200px;
}
.login a{
    text-decoration: none; 
    padding: 10px;
    font-size: 15px;
}


.links ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
  
}
.links li a{
    text-decoration: none;
    color: #002b5c;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;



}
@keyframes animate{
0%{
opacity: 0;
transform: rotateY(90deg);
filter: blur(10px);
}
100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
}
}
.links li a:hover{
    border-bottom: 2px solid blue;
    background-color:#002b5c;
    color: white;
    transition: 0.9s ;
   

  
}

.login a:hover{
    border-bottom: 2px solid blue;
    background-color:#002b5c;
    color: white;
    transition: 0.9s ;
    
  
}
.clear{
    clear: both;
}
.ticket{
    width: 100%;
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(bus.png);
    background-size: cover;
    background-position: center;
}

.ticket  form{
    background-color: white;
    width: 900px;
    height: 100px;
    transform: translate(28%,230%);
    opacity: 0.8;
}
.ticket h1 {
    margin-left: 470px;
    color: #002b5c;
    padding-top: 10px;
}
.search{
    margin-left: 15px;
}
i{
    color: #002b5c;
}
.ticket form #roundrad,#wayrad{

    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 10px; 
    transition:  0.6s ease;

}
.intx{
    background-color: #ddd;
    border-radius: 20px;
    margin-left: 5px;
    padding: 10px; 
    

}
#retu{
    background-color: #ddd;
    border-radius: 20px;
    margin-left: 5px; 
    padding: 10px; 
}
#int1,#int2,#int3,#ret{
    background-color: #ddd;

}
 
.ticket form input{
    margin: 1px;
border: none;

}
.about{
    width: 100%;
    height:300px;
}
.about h2{
    text-align: center;
    color: #002b5c;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item{
    width:20%;
    height:200px ;
margin-top: 0px;
    float: left;
    margin-left: 48px;
    text-align: center;
    box-shadow: 0 3px 9px 0 rgba(186, 186, 186, 1);

}
.item p{
    width:80%;
    margin-left: 22px;
    margin-top: 0px;
    color: #6c757d;
    padding-bottom: 8px;
    border-bottom: 4px solid #40aeef;

}
.item h2{
    margin-top: 50px;
    color: #002b5c;
}
#slider{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}
#trips{
    widows: 100%;
    height:200px;
    font-size:20px;
}

#trips p {
    color: #002b5c;
padding-top: 15px

}
#trips p a{
text-decoration: none;    
color: #002b5c;

}
footer{
    widows: 100%;
    height: 120px;
    background-color: #002b5c;
}


.item:hover{
border: 2px solid #40aeef;
      transform: scale(1.2,1.2);  
    
}
#trips p:hover{
    font-size: 35px;

}
#trips  p  a:hover{    
color: black;
}
footer ul{
    margin-left: 590px;
}

footer ul li{
    list-style-type: none;
    margin-top: 30px;
    background-color:#40aeef;
    width: 15px;
    height: 10px;
    color: #FFF;
   
}
footer li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    padding:  8px;
    color: #FFF;
    border: 1px solid #FFF;
   
   }
   footer p{
       color:#fff ;
       text-align: center;
       padding-top: 10px;

   }
   footer li a{
       color: #FFF;
   }
   #navbar{
       visibility: hidden;
   }



       
@media screen and ( max-width : 768px ){
    header .links,.login{
        visibility: hidden;
    }
    #navbar{
        visibility: visible;
        float: right;
        transform: translate(45%,-500%);
    
    }
  
    .ticket h1{
    margin-left: 200px;
    font-size: 15px;
}
   .about{
       height:100px;
   }
  
    .ticket form input{
      width:  30px    ;   
       margin-left: 5px;
    }
    .ticket form{
        height: 120px;
        width: 400px;
        transform: translate(50%,150%);
              
    }
    .item{
        margin-left: 25px; 
        width:43%;
        margin-bottom: 10px;
 
 
    }
    .about h2{
        margin-bottom: 20px;
    }
    footer ul{
        margin-left:280px;    }
  }
  

   @media screen and ( max-width : 375px ){
    
    header .links,.login{
        visibility: hidden;
    }
    #navbar{
        visibility: visible;
        float: right;
        transform: translate(200%,-750%);
    
    }
.ticket{
    background-size: cover;
}
.ticket h1{
    position: absolute;
}


.ticket form{
    height: 70px;
    width: 300px;
    transform: translate(2%,-350%);
    
    
}

.ticket h1{
    margin-left: 100px;
    font-size: 15px;
}
   .about{
       height:100px;
   }
  
    .ticket form input{
        width: 15px;
    }
    .item{
       margin-left: 20px; 
       width:43%;
       margin-bottom: 0px;


    }
    .ticket{
        height: 200px;
    }
 
    #slider{
        height: 100px;
    }
    #roundrad,#wayrad{
        width: 50px;
    }
 
    footer ul{
        margin-left:95px;
    }
    #trips{
        height: 100px;
    }
       }
 #menue{
     visibility: hidden;
     transform: translate(150%,-270%);
     background-color: #002b5c;
     opacity: 0.6;
         }
    #menue ul li{
        list-style-type: none;
    }
    #menue ul li a{
color: white;
    }
     